{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	I can make SNN real time based in MySQL events. A MySQL event is a task that runs based on a predefined schedule therefore sometimes it is referred to as a scheduled event. MySQL event is also known as “temporal trigger” because it is triggered by time, not by table update like a trigger. A MySQL event is similar to a cron job in UNIX or a task scheduler in Windows.
	<br>
	In Oracle SQL it is even more interesting - application can subscribe to database events, more thorough description <a href="https://docs.oracle.com/cd/B13789_01/win.101/b10118/o4o00118.htm">here</a>
{% endblock %}
